
.logo {
    width: 35%;
}
.search {
    width: 30%;
}

@media only screen and (max-width: 768px){
    
    .header-button-list{
        display: none !important;
    }
    .menu-header{
        display: block !important;
    }
    
}
@media only screen and (max-width: 767px){
    .logo{
        width: 80%;
        margin: auto;
    }
    
}
.header-button-list{
    display: flex;
    width: 35%;
    
}
.menu-header{
    display: none;
}


.input-search {
    justify-content: center;
    align-items: center;
}
.input-search form input:focus-within{
    outline: 0.5px solid rgb(168, 167, 167) !important;
}
.input-search form input {
    width: 90%;
    border: 0.5px solid rgb(228, 225, 225);
    border-radius: 5px;
    padding: 5px 0
}

.input-search form {
    width: 100%;
    position: relative;
}

.input-search form i {
    position: absolute;
    right: 5%;
    top: 0;
    height: 100%;
    padding: 0 10px;
    align-items: center;
    display: flex;
}

.input-search form i:hover {
    background-color: #ccc;
}

.header-button-list button {
    border: none;
    border-radius: 5px;
   font-size: 14px;
    padding: 0
}

.heder_bottom {
    justify-content: space-around;
}

.button_page_header {
    border: none;
    padding: 5px 10px;
    background: rgb(249 247 247);
    font-weight: bolder;
    color: rgba(78, 78, 78, 0.85) ;
    border-top: 3px solid  rgb(249 247 247);
}

.bg_header_bottom {
    background: rgb(249 247 247);
    border-bottom: 0.5px solid #ccc;
}

.btn-hover {
    color: rgb(82, 62, 65);
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
}

.btn-hover:hover {
    background-color: #ccc;
    color: black;
}

.button_page_header:hover, .active{
    border-top: 3px solid  rgb(107, 104, 104);
   color: rgba(78, 78, 78, 0.85) ;
}
.button_page_header{
    text-decoration: none;
}
